<div class="row">
	<div class="col-md-4">
		<h1 class="text-center">Hello World</h1>
		<div class="panel panel-info">
			<div class="panel-heading">Title</div>
			<div class="panel-body">Body</div>
			<div class="panel-footer text-center">Move</div>
		</div>
	</div>
	<div class="col-md-4">
		<h1 class="text-center">Hello World</h1>
		<div class="panel panel-info">
			<div class="panel-heading">Title</div>
			<div class="panel-body">Body</div>
			<div class="panel-footer text-center">Move</div>
		</div>
	</div>
	<div class="col-md-4">
		<h1 class="text-center">Hello World</h1>
		<div class="panel panel-info">
			<div class="panel-heading">Title</div>
			<div class="panel-body">Body</div>
			<div class="panel-footer text-center">Move</div>
		</div>
	</div>
</div>